@mixin heading($level) {
    $map: map-get($headings, $level);
    $properties: ();
    $responsive: ();

    @each $map-key, $map-value in $map {
        @if is-breakpoint($map-key) {
            $responsive: map-merge($responsive, ($map-key: $map-value));
        } @else {
            $properties: map-merge($properties, ($map-key: $map-value));
        }
    }

    @include block-generator($properties);

    @each $breakpoint, $properties in $responsive {
        @include media-query($breakpoint, 'mobile-first') {
            @include block-generator($properties);
        }
    }
}
